body {
    color: white;
    background: black;
}

a {
    color: #99f;
}

button, input[type="button"] {
    color: white;
    background-color: black;
}

h1 {
    text-align: center;
}

@media (max-width: 750px) {
    body .markdown-body ul {
	padding-left: 1em;
    }
}
